<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"> Listar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/postear/listar">Blog post</a>
                </li>
            </ul>
            <button id="btnLogin" class="btn btn-primary" type="button">LogIn</button>
            <script>
                document.getElementById("btnLogin").onclick = function () {
                    location.href = "/login";
                };
            </script>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1 class="dispaly-4" th:text="${titulo}">...</h1>
        <p class="lead">Lista de publicaciones</p>
    </div>
    <a href="/postear/crear" class="btn btn-primary">New Post</a>
    <table class="table table-stiped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Autor</th>
            <th scope="col">Titulo</th>
            <th scope="col">Cuerpo</th>
            <th scope="col">Etiquetas</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="articulo : ${lista}">
            <th scope="row">
                <a th:text="${articulo.id}" th:href="'/publicacion/'+${articulo.id}"/>
            </th>
            <td th:text="${articulo.autor.getNombre()}">Autor</td>
            <td th:text="${articulo.titulo}">titulo</td>
            <td th:text="${articulo.cuerpo}">cuerpo</td>
            <td th:text="${articulo.showEtiquetas()}">Etiquetas</td>
            <td th:text="${articulo.fechaFormateada()}">Fecha</td>
            <td>
                <a th:text="Editar" th:href="'editar/'+${articulo.id}" th class="btn btn-secondary btn-sm"/> |
                <a th:text="Eliminar" th:href="'eliminar/'+${articulo.id}" th class="btn btn-danger btn-sm"/>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>


</html>